In [1]:
a=int(input('enter the first number'))
b=int(input('enter the second number'))
print('the average value of a and b',(a+b)/2)

enter the first number3
enter the second number6
the average value of a and b 4.5

In [4]:
a=int(input('enter the number:'))
print('square of the number:',a*a)

enter the number:6
square of the number: 36

In [6]:
a=[1,2,38,50]
print(a)
a[1]='rishabh'
print(a)
a=[1,'rishu',6.9]
print(a)

[1, 2, 38, 50]
[1, 'rishabh', 38, 50]
[1, 'rishu', 6.9]

In [9]:
l1=[8,4,7,19,48,86]
l1.sort()
print(l1)
l1.reverse()
print(l1)
l1.append(20)
print(l1)
l1.insert(3,50)
print(l1)
l1.pop(2)
print(l1)
l1.remove(50)
print(l1)

[4, 7, 8, 19, 48, 86]
[86, 48, 19, 8, 7, 4]
[86, 48, 19, 8, 7, 4, 20]
[86, 48, 19, 50, 8, 7, 4, 20]
[86, 48, 50, 8, 7, 4, 20]
[86, 48, 8, 7, 4, 20]

In [13]:
#creating tuppel using ()
t=(2,2,2,3,3,3,5,5,5,7,7,71,78,64,3,5,7,78,2,57,890,3,6,79,4,68,7,5,4)
print(t.count(7))
print(t.count(2))
print(t.count(6))
print(t.index(68))

4
4
1
25

In [14]:
f1=input('Enter the fruit number 1:')
f2=input('Enter the fruit number 2:')
f3=input('Enter the fruit number 3:')
f4=input('Enter the fruit number 4:')
f5=input('Enter the fruit number 5:')
myFruitlist=[f1,f2,f3,f4,f5]
print(myFruitlist)

Enter the fruit number 1:Apple
Enter the fruit number 2:Mango
Enter the fruit number 3:Grapesh
Enter the fruit number 4:Gauva
Enter the fruit number 5:Pineapple
['Apple', 'Mango', 'Grapesh', 'Gauva', 'Pineapple']

In [17]:
s1=int(input('Enter the student number 1:'))
s2=int(input('Enter the student number 2:'))
s3=int(input('Enter the student number 3:'))
s4=int(input('Enter the student number 4:'))
s5=int(input('Enter the student number 5:'))
mylist=[s1,s2,s3,s4,s5]
mylist.sort()
print(mylist)

Enter the student number 1:79
Enter the student number 2:78
Enter the student number 3:75
Enter the student number 4:83
Enter the student number 5:88
[75, 78, 79, 83, 88]

In [2]:
a=[1,2,3,4,5,7,8,9,5,3,1,4,6,8,5,3,68]
print(sum(a))

142

In [26]:
myDict ={
    'smart': 'Rishabh kumar',
    'Player': 'any thing',
    'marks': [1,2,3],
    
    'cute':{'Rishabh':'as Always'}
}
myDict['marks']=[35,45]
print(myDict)
print(myDict['marks'])
print(myDict['smart'])
print(myDict['cute']['Rishabh'])
print(myDict.items())
print(myDict.values())
updateDict = {
    'love': 'Breakup',
    'warning': 'neverlove',
    'Player': 'of heart'
}
myDict.update(updateDict)
print(myDict)

{'smart': 'Rishabh kumar', 'Player': 'any thing', 'marks': [35, 45], 'cute': {'Rishabh': 'as Always'}}
[35, 45]
Rishabh kumar
as Always
dict_items([('smart', 'Rishabh kumar'), ('Player', 'any thing'), ('marks', [35, 45]), ('cute', {'Rishabh': 'as Always'})])
dict_values(['Rishabh kumar', 'any thing', [35, 45], {'Rishabh': 'as Always'}])
{'smart': 'Rishabh kumar', 'Player': 'of heart', 'marks': [35, 45], 'cute': {'Rishabh': 'as Always'}, 'love': 'Breakup', 'warning': 'neverlove'}

In [1]:
a= {1,2,1,2,1,2,3,4,5,6}
print(type(a))
print(a)

<class 'set'>
{1, 2, 3, 4, 5, 6}

In [11]:
a={}
print(type(a))
print(a)
b=set()
print(type(b))
b.add(4)
b.add(5)
b.add(4)
b.add(4)
b.add(7)
print(b)
print(len(b))
b.remove(5)
print(b)

<class 'dict'>
{}
<class 'set'>
{4, 5, 7}
3
{4, 7}

In [12]:
a=22
if(a>8):
    print('greater')
else:
     print('lesser')

greater

In [16]:
a=int(input('enter your age'))
if(a>=18):
    print('yes')
else:
    print('no')

enter your age14
no

In [21]:
#Wap to find given year is leap or not
year=int(input('enter the year : '))
if(year%4==0):
    print('leap year')
else:
    print('Not leap year')

enter the year : 2021
Not leap year

In [23]:
#wap to find bonus salary
Salary=int(input('Enter the salary: '))
Gender=input('enter the gender male or female: ')
if Gender==('male'):
    print('bonus= ',float(.5*Salary))
elif Gender==('female'):
    print('bonus= ',float(.3*salary))

Enter the salary: 100000
enter the gender male or female: male
bonus=  50000.0

In [8]:
#Wap for checking for lowercase and uppercase and vice vesra
s=input('Enter a string: ')
str=''
for i in range (len(s)):
    if s[i].isupper():
        str+=s[i].lower()
    elif s[i].islower():
        str+=s[i].upper()
    else:
        str+=s[i]
print(str)

Enter a string: rishabh KUMAR
RISHABH kumar

In [2]:
age=int(input('enter your age: '))
if(age>30 and age<60):
    ptint('you can work with us')
else:
    print('you cannot work with us')

enter your age: 61
you cannot work with us

In [1]:
num1=int(input('enter the number1: '))
num2=int(input('enter the number2: '))
num3=int(input('enter the number3: '))
num4=int(input('enter the number4: '))
if(num1>num4):
    f1=num1
else:
    f1=num2
if(num3>num4):
    f2=num3
else:
    f2=num4
if(f1>f2):
    print(str(f1) + ' is greatest')
else:
    (str(f2) + 'is greatest')

enter the number1: 90
enter the number2: 999
enter the number3: 999
enter the number4: 9999

In [2]:
#Wap to find given year is leap or not
year=int(input('enter the year : '))
if(year%4==0):
    print('leap year')
else:
    print('Not leap year')

enter the year : 3030
Not leap year

In [9]:
sub1=int(input('enter the first subject marks/n'))
sub2=int(input('enter the second subject marks/n'))
sub3=int(input('enter the third subject marks/n'))
if(sub1<33 or sub2<33 or sub3<33):
    print('your marks is less than 33 you are fail')
if(sub1+sub2+sub3)/3<40:
    print('you are fail due to less percentage ')
else:
    print('cong! yor are pass ')

enter the first subject marks/n56
enter the second subject marks/n67
enter the third subject marks/n68
cong! yor are pass

In [4]:
text=input('enter the text/n')
if('hello bro' in text):
    spam = True
elif('how are you' in text):
    spam = True
elif('macho man' in text):
    spam = True
else:
    spam = False
    
if(spam):
    print('this text is spam')
else:
    print('this text is not spam')

enter the text/n78
this text is not spam

In [6]:
names = ['rishu', 'akriti', 'harsh', 'mohit']
name = input('enter the name check/n')
 
if name in names:
    print('your name is present in list')
else:
    print('your name is not present in list')

enter the name check/nkuti
your name is not present in list

In [9]:
marks= int(input('enter the marks'))
 
if marks>=90:
    garde='Ex'
elif marks>=80:
    grade='A'
elif marks>=70:
    grade='B'
elif marks>=60:
    grade='C'
else:
    grade='fail'
print('your grade is '+ grade)

enter the marks78
your grade is B

In [2]:
i=1
while i<51:
    print(i)
    i=i+1
print('done')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
done

In [4]:
i=0
while i<5:
    print('rishabh')
    i=i+1

rishabh
rishabh
rishabh
rishabh
rishabh

In [7]:
a=['mango','grapes','banana','apple']
i=0
while i<len(a):
    print(a[i])
    i=i+1

mango
grapes
banana
apple

In [8]:
a=['mango','grapes','banana','apple']
for item in a:
    print(item)

mango
grapes
banana
apple

In [1]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [2]:
for i in range(10):
    print(i)
else:
    print('the end')

0
1
2
3
4
5
6
7
8
9
the end

In [7]:
for i in range(10):
    print(i)
    if i==5:
        break
else:
    print('the end') #this will work only on succesfull terminination

0
1
2
3
4
5

In [12]:
for i in range(10):
    
    if i==5:
        continue
    print(i)
else:
    print('the end')

0
1
2
3
4
6
7
8
9
the end

In [1]:
num=int(input('enter the number'))
for i in range(1,11):
    #print(str(num ) + 'X' + str(i) + '=' + str(i*num))
    print(f'{num}X{i}={num*i}')

enter the number54
54X1=54
54X2=108
54X3=162
54X4=216
54X5=270
54X6=324
54X7=378
54X8=432
54X9=486
54X10=540

In [4]:
l1=['rish','rk','rohit','sk','shruti']
for name in l1:
    if name.startswith('r'):
        print('Hello ' + name)

Hello rish
Hello rk
Hello rohit

In [12]:
num=int(input('enter the number: '))
prime = True
for i in range(2,num):
    if(num%i ==0):
        prime = False
        break
if prime:
    print('no is prime')
else:
    print('no is not prime')

enter the number: 78
no is not prime

In [19]:
num=int(input('enter the number: '))
factorial=1
for i in range(1,num+1):
    factorial = factorial * i
print(f'the factorial of the {num} is {factorial}')

enter the number: 10
the factorial of the 10 is 3628800

In [3]:
n=4
for i in range(4):
    print("*" *(i+1))

*
**
***
****

In [4]:
#for i in range(3):
    #for j1 in range

In [2]:
def greet(name):
    print("good day,"+ name)
greet("rishu")  

def mysum(num1,num2):
    return num1 + num2
s = mysum(76,7777)
print(s)

good day,rishu
7853

In [16]:
for i in range(1,30):
    print('miss u 2 bahoot sara')

miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara
miss u 2 bahoot sara

In [1]:
def percent(marks):
    p=((marks[0]+ marks[1] + marks[2] + marks[3])/400)*100
    return p
marks1 =[68 ,78 ,84 ,91,]
percenatage1 =percent(marks1)
marks2 =[82, 78, 91 ,92]
percentage2=percent(marks2)
print(percenatage1,percentage2)

80.25 85.75

In [4]:
def greet(name= 'stranger'):
    print('good day'+ name)
greet()

good daystranger

In [11]:
def maximum(num1,num2,num3):
    if(num1>num2):
        if(num1>num3):
            return num1
        else:
            return num3
    else:
        if(num2>num3):
            return num2
        else:
            return num3
m= maximum(1,3,7)
print('the maximum value is :'+ str(m))

the maximum value is :7

In [14]:
def farh(cel):
    return (cel*(9/5)) +32
c=int(input('eneter the degree in cel'))
f = farh(c)
print('farh temp is : ' + str(f))

eneter the degree in cel878
farh temp is : 1612.4

In [18]:
for i in range(1,3):
    print(143)

143
143

In [1]:
print('hello', end=' ')
print('rishu', end=' ')
print('how', end=' ')
print('are you', end=' ')

hello rishu how are you

In [7]:
def inche(cm):
    return ((2.54)*cm)
c=int(input('enter the length in cm: '))
i= inche(c)
print('cm length is : ' +str(i))

enter the length in cm: 6
cm length is : 15.24

In [3]:
def cel(farh):
    return (farh*(9/5)) -32
f=int(input('eneter the degree in farh'))
c = cel(f)
print('cel temp is : ' + str(c))

eneter the degree in farh32
cel temp is : 25.6

In [5]:
def cel(farh):
    return (farh-32)*(5/9)
f=int(input('eneter the degree in farh: '))
c = cel(f)
print('cel temp is : ' + str(c))

eneter the degree in farh: 32
cel temp is : 0.0

In [6]:
PI = 3.14
r = float(input("Enter the radius of the circle: "))
area = PI * r * r
print("%.2f" %area)

Enter the radius of the circle: 45
6358.50

In [7]:
a = "Su raj"
b = "lakarbagha"
 print(a+b)

IndentationError: unexpected indent (<ipython-input-7-3b8fb47f7db6>, line 3)

NameError: name 'Print' is not defined

In [11]:
a = 'Hello '
b = 'Python'
c = a + b
print(c)

Hello Python

In [12]:
word = "Hello Python"

if(word == "Hello Python"):
    print(word)
else:
    print("This Is Not A OPerator")

Hello Python

In [3]:
temp = "5 degrees"
cel = 0
fahr = float(temp)
cel = (fahr - 32.0) * 5.0 / 9.0
print(cel)

ValueError: could not convert string to float: '5 degrees'

In [4]:
def fred():
    print("Zap")
def jane():
    print("ABC")

jane()
fred()
jane()

ABC
Zap
ABC

In [5]:
n = 0
while True:
    if n == 3:
        break
    print(n)
    n = n + 1

0
1
2

In [6]:
counts = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}
for key in counts:
    if counts[key] > 10:
        print(key, counts[key])

annie 42
jan 100

In [2]:
from math import pi
print('pi = ', pi)

pi =  3.141592653589793

In [6]:
from math import pi,sqrt
print(sqrt(81)

9.0

In [4]:
from math import sqrt as square_root
print(square_root(81))

9.0

In [8]:
import sys
print(sys.argv)

['C:\\ProgramData\\Anaconda3\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\RISHA\\AppData\\Roaming\\jupyter\\runtime\\kernel-774197a8-914b-458c-81c2-a6ba7bf5406f.json']

In [11]:
from importlib import reload math
print(sqrt(81)

SyntaxError: invalid syntax (<ipython-input-11-399214d37c3a>, line 1)

In [14]:
from math import pi,sqrt
print(sqrt(81)
import importlib
importlib.reload(math)

SyntaxError: invalid syntax (<ipython-input-14-95bf6a517e23>, line 3)

In [32]:
import time
localtime=time.asctime,(time.localtime(time.time()))
print('localtime:' ,localtime)

localtime: (<built-in function asctime>, time.struct_time(tm_year=2021, tm_mon=3, tm_mday=5, tm_hour=11, tm_min=40, tm_sec=24, tm_wday=4, tm_yday=64, tm_isdst=0))

In [18]:
import time
seconds = 1545925769.9618232
local_time = time.ctime(seconds)
print("Local time:", local_time)

Local time: Thu Dec 27 21:19:29 2018

In [26]:
import calendar 
print(calendar.month(2021,3))

     March 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [29]:
import calendar 
print(calendar.calendar(2021))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [31]:
str='hello'
print(str*3)

hellohellohello

In [34]:
ch='R'
print(ord(ch))

82

In [36]:
ch='A'
print(ord(ch))

65

In [37]:
print(chr(65))

A

In [39]:
def remove_and_split(string,word):
    newstr= string.replace(word,'')
    return newstr.strip()
this= ' rishu is macho man '
n = remove_and_split(this,'rishu')
print(n)

is macho man

In [ ]:
import random




a = input('player 1 turn : snake(s) water(w) or gun(g)')

In [ ]:
f = open('LiveDomainList.txt','r')
data = f.read()
print(data)
f.close()

In [4]:
with open('.txt','r') as f:
    a=f.readlines()

FileNotFoundError: [Errno 2] No such file or directory: 'heloo.txt'

In [1]:
for i in range(2,21):
    with open(f'tables/multipication_table_of_{i}','w') as f:
        for j in range(1,11):
            f.write(f'{i}*{j}={i*j}\n')

FileNotFoundError: [Errno 2] No such file or directory: 'tables/multipication_table_of_2'

In [2]:
import os

In [3]:
class Number:
    def sum(self):
        return self.a + self.b
    
num = Number()
num.a = 12
num.b =23456
s= num.sum()
print(s)

23468

In [2]:

i=5
while i>=0:
   print(i)
   i=i-1

5
4
3
2
1
0

In [3]:
class Number:
    def sum(self):
        return self.a + self.b
    
num = Number()
num.a = 12
num.b =23456
s= num.sum()
print(s)

23468

In [1]:
#Q1
def userInput(n1, n2, n3):
    mul_n1_n2 = n1 * n2
    div_n3 = mul_n1_n2 // n3
    final = f"Ouput : {div_n3}"
    return final

n1 = int(input("Enter First Number : "))
n2 = int(input("Enter Second Number : "))
n3 = int(input("Enter Third Number : "))
print(userInput(n1, n2, n3))

Enter First Number : 20
Enter Second Number : 30
Enter Third Number : 40
Ouput : 15

In [2]:
#Q2
def circleR(n):
    circ = 2 * 3.14 * n
    area = 3.14 * (n * n)
    print("Area Of Circle Is : {:.2f}".format(area))
    print("Circumference Of Circle Is : {:.2f}".format(circ))



n = int(input())
circleR(n)

43
Area Of Circle Is : 5805.86
Circumference Of Circle Is : 270.04

In [8]:
#Q3
def powN(n):
    if(n == 1):
        return True
    elif(n % 2 != 0 or n == 0):
        return False
    return powN(n / 2)

n = int(input())
print(powN(n))

4
True

In [9]:
#Q4
def perfectSqrt(n):
    x = n // 2
    y = set([x])
    while(x * x != n):
        x = (x + (n // x)) // 2
        if(x in y):
            return False
        y.add(x)
    return True

n = int(input())
print(perfectSqrt(n))

9
True

In [7]:
#Q5
def hashTable(array):
    table = {}
    for i in array:
        if(i not in table):
            table[i] = 1
        else:
            table[i] += 1
    for i in table:
        if(table[i] == 1):
            return i
    return []

array = [5, 3, 4, 3, 4]
print(hashTable(array))

5

In [12]:
import pandas as pd

In [13]:
import numpy as np

In [14]:
import matplotlib as mp

In [4]:
import os

In [5]:
import os

In [6]:
import os

In [7]:
import os

In [4]:
while False:
 print("Hello")

In [5]:
def display():
    return "Hello"

print(display())

Hello